In [8]:
import sys
!pip install skyfield

import pandas as pd
from skyfield.api import load
from skyfield.api import Topos

Requirement already satisfied: skyfield in /opt/anaconda3/lib/python3.7/site-packages (1.31)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from skyfield) (2019.9.11)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.7/site-packages (from skyfield) (1.17.2)
Requirement already satisfied: sgp4>=2.2 in /opt/anaconda3/lib/python3.7/site-packages (from skyfield) (2.13)
Requirement already satisfied: jplephem>=2.13 in /opt/anaconda3/lib/python3.7/site-packages (from skyfield) (2.15)

In [6]:
planets = load('de422.bsp')

[#################################] 100% de422.bsp

01h 08m 23.46s
+04deg 49' 40.5"
0.441727 au
-16deg 10' 51.5"
67deg 18' 26.0"

In [22]:
### choose place based off of Long and Lat
india = earth + Topos('20.5937 N', '78.9629 E')
names_of_planets = ['mercury', 'mars', 'venus', 'jupiter', 'saturn']
ts = load.timescale()

In [23]:


#t = ts.utc(1597, 7, 10, 21, 34, 10)
#astrometric = india.at(t).observe(mars)
#temp, pressure standard
#alt, az, _ = astrometric.apparent().altaz()
#figure out why epoch = date
#ra, dec, distance = astrometric.apparent().radec(epoch = "date")

print(alt, az, distance)

def planet_dataset_creator(year, planet):
    p = planets[planet + ' barycenter']

    for i in range(1, 13):
        t = ts.utc(year, i, 1)  #maybe put day at the end
        astrometric = india.at(t).observe(planet)
        alt, az, _ = astrometric.apparent().altaz()        
        ra, dec, distance = astrometric.apparent().radec(epoch = "date")

23deg 31' 51.6" 82deg 33' 51.5" 1.47608 au
23deg 31' 51.6" 82deg 33' 51.5" 1.47608 au

       az distance
1000  NaN      NaN
2000  NaN      NaN